{% extends 'base.html' %}

{% block content %}
<div class="main-game">
    <h1>Play the Game</h1>
    <p>The game is fairly simple. Just select 2 characters and the result will tell if they could exist in the real world
    or not. Not considering time travel, this game follows the logic behind the existence of characters in the series.
        If you haven't watched it you better do it. In the series real characters are those existing before "the split".
    </p><br>
    <p>Ready to play?</p>
    <form action="/play/game" method="get">
        {{ form.as_p }}
        <input type="submit" value="Match">
    </form>
    <div>
        {{ result }}
    </div>
</div>
{% endblock %}