{% extends 'base.html' %}

{% block content %}
 <div id="present">
    <h1 class="page-main-title">DARK</h1>
              <p>
                  DARK has been one of the best series of all time. Short, just 3 seasons, but deep, compelling and dramatic.
                  Full of science references, physics, time travel and paradoxes.
              </p>
              <button class="plot-btn"><a href="/summary/">Summary</a></button>
              <br><br><br>
          </div>
<div class="second-home">
    <h4>{Full disclosure}</h4>
        <p>
            <small>
            If you haven't seen the series I highly recommend you do so before checking out this website. There are spoiler,
            and details abut the plot that might ruin the experience all at once.
            </small>
        </p>
</div>
{% endblock %}